body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(101,101,101,1) 27%, rgba(0,0,0,1) 39%);
}

#app {
    height: 90vh;
}

.cli-terminal{
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 80%;
    max-width: 400px;

    & .output{
        overflow-wrap: break-word;
    }
}
